<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" href="https://iview.github.io/iview-area/src/iview.css">
</head>
<body>
<div id="app">
    <al-selector v-model="res_s" data-type="code" level="2" ref="ca" auto="false"/>
    <!--<al-selector v-model="res_s" data-type="name"/>-->
    <!--<al-cascader v-model="res_c"/>-->
    {{res_s}} ad
    <Button type="dashed" @click="change" >多次赋值1</Button>
    <Button type="dashed" @click="change2">多次赋值2</Button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/iview/2.11.0/iview.min.js"></script>
<script src="/dist/iview-area.js"></script>
<script>
	console.log(iviewArea)
	let app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue!',
//			res_s: ["620000", "622900", "622922"],
			res_s: ["130000", "130300", "130304"],
			res_c: []
		},
		methods: {
			change(){
//				this.res_s = ["120000", "120100", "120103"]
				this.$refs.ca.value=["120000", "120100", "120103"]
			},
			change2(){
//				this.res_s =  ["620000", "622900", "622922"]
				this.res_s =  ["130000", "130300", "130304"]
//				this.res_s = ["甘肃省", "临夏回族自治州", "康乐县"];
			},
		}

	})
</script>
</body>
</html>
